# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


# Windows shortcuts
*.lnk

# private test project settings
BuckarooSdk.Tests/Constants/TestSettings.cs

VisualBasicTests

# Debug builds
BuckarooSdk/bin/Debug
BuckarooSdk/obj/Debug
BuckarooSdk.Tests/bin/Debug
BuckarooSdk.Tests/obj/Debug


# Release builds
BuckarooSdk/bin/Release
BuckarooSdk/obj/Release
BuckarooSdk.Tests/bin/Release
BuckarooSdk.Tests/obj/Release

# build packages
packages

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.vssscc
*.cache
/.vs/BuckarooSdk/v15/Server/sqlite3
/.vs/BuckarooSdk/DesignTimeBuild
/.idea/.idea.BuckarooSdk
/SdkService.tests
/SdkServices.tests
